#heading {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline;
}
body {
    background-image: url(https://img.freepik.com/free-photo/office-desk-workspace-bright-color-yellow-background_169016-38713.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#jehan {
    font-size: 24px;
    padding-left: 130px;
}
.done {
    text-align: left;
    font-size: 30px;
    background-color: rgb(211, 213, 215);
}
